.idea/
*.gem
*.rbc
.bundle
.config
coverage
build
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
vendor/bundle
vendor/bundle/*

vendor/Pods
vendor/.DS_Store

.repl_history
build
tags
.DS_Store
*.swp
*.swo
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
*.o
.dat*

vendor/MGSplitViewController/build-iPhoneOS
vendor/MGSplitViewController/build-iPhoneSimulator

vendor/PopoverView/build-iPhoneOS
vendor/PopoverView/build-iPhoneSimulator

vendor/ScanAPI/build-iPhoneOS
vendor/ScanAPI/build-iPhoneSimulator

app/constants/services_constants.rb

coredata/TradeGecko.xcodeproj